
# i860 H4860  kernel configuration file
# Warning: Lines starting with # , spaces, tabs and empty lines are ignored.

# Clock period in micro-seconds.
# Default: 31250

clock_period = 31250

# Cache ON/OFF. Set to 1 or 0.
# Default: 1 (means user's code & data caches ON)

cache = 1

# Floating point traps enabled/disabled. Set to 1 or 0.
# Default: 1 (means floating point traps will be enabled)

floating_point_traps=0

# Misalignment traps enabled/disabled. Set to 1 or 0.
# 0 - means misalignment accesses by user process will be handled by the
#     kernel who will emulate the access.
# 1 - means misalignment accesses by user process will cause a signal
#     to the user's process.
# Default: 0

misalignment_traps=0

# Amount of available DRAM memory on board in Mbytes.
# Possible values are: 1, 2, 3 etc...
# Default: 2

ev_memory_size=6

# Amount of available DRAM on the host in Mbytes
# Default: 8

host_memory_size=6
# Maximum number of concurrent user processes.
# Default: 9

nproc=9

# DMA interrupts enabled/disabled. Set to 1 or 0.
# 0 - means DMA interrupts will be disabled.
# 1 - means DMA interrupts will be enabled. When such an interrupt occurs,
#     the next RUN860 will fail with an approriate error message.
# Default: 1

dma_on = 0

# Parity interrupts enabled/disabled. Set to 1 or 0.
# 0 - means parity interrupts will be disabled.
# 1 - means parity interrupts will be enabled. When such an interrupt occurs,
#     the next RUN860 will fail with an approriate error message.
# Default: 1

parity_on = 0

# Bus arbitration: 0 = FAIR, 1 = 486, 2 = 860, 3 = 64bit slot
arbitration = 2

memratio = 15/16

# Communication base
commbase = e0000
